header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #333;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    background-color: #141414;
    border: none;
    color: #e50914;
}

